body{
    padding: 0%;
}
table{ border: 2px solid black;

}

.tthh{background-color: beige;
}

.tdd{background-color: aquamarine;
}

.th2{
    background-color: green;
}
.tdd2{
    background-color: blue;
}